@font-face
{
	font-family:'seg';
	src:url('fonts/segoesc.eot?#'),
	    url('fonts/segoesc.ttf');
}
@font-face
{
	font-family:'cob';
	src:url('fonts/CaslonOpnfaceBT.eot?#'),
	    url('fonts/CaslonOpnfaceBT.ttf');	
}
@font-face
{		
	font-family:'com';
	src:url('fonts/comici.eot?#'),
	    url('fonts/comici.ttf');		
}
html
{
height:100%;
}
body
{
	height:auto;
    background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
	margin:0px;
	display:block;
}
.dd
{
	position:fixed;
    top:0px;
    left:0px;
    margin:0px;
    width:100%;
}
.bar
{
	width:100%;
	height:6vh;
	padding:0.5vh;
	text-align:center;
	font-size:5vh;
	background-color:hsl(180,35%,30%);
	color:white;
	border-bottom:1px solid black;
	font-family:arial;
}
.dc
{
	background-color:hsla(0,0%,90%,0.7);
    font-size:5vh;
    display:none;
}
.menu
{
	height:100%;
}
.dd:hover .dc
{
	display:block;
}
.dd:hover .bar
{
	color:rgb(250,250,0);
}
.mob
{
	margin-top:0px;
	list-style-type:none;
	padding-left:0px;
	text-align:center;
}
.navbar
{
	position:fixed;
	top:0px;
	left:0px;
	margin:0px;
    list-style-type:none;
	padding:0px;
	text-align:center;
	width:100%;
	overflow:hidden;
}
.d
{
	width:25%;
	height:7vh;
	font-size:2.5vh;
	background-color:hsl(180,35%,30%);
	display:inline-block;
	float:left;
}
.thispage
{
	background-color:hsl(180,35%,60%);
	color:black;
	font-family:arial;
}
@media only screen and (max-width:600px)
{
	.navbar
	{
		display:none;
	}
}
@media only screen and (min-width:600px)
{
	.dd
	{
		display:none;
	}
}
a:link, a:visited
{
	text-decoration:none;
	display:block;
	height:100%;
	width:100%;
	color:white;
	font-family:arial;
	padding:1vw;
}
.m > a:link, .m > a:visited
{
	color:hsl(280,40%,30%);
}
.thispage > a:link, .thispage > a:visited
{
	color:black;
}
.m > a:hover , .m > a:active
{
	color:yellow;
	background-color:hsla(0,0%,60%,0.7);
}
.d > a:hover
{
	border:2px inset yellow;
	color:yellow;
}
a:active
{
	text-decoration:underline;
}
/*Content Styling*/
.cont
{
	text-align:center;
    width:90vw;
    margin:auto;
    margin-top:10vh;
}
@keyframes exp
{
	from
	{
		width:0px;
	}
	to
	{
		width:50vw;
		max-width:350px;
	}		
}
#mypic
{
	width:50vw;
	max-width:350px; 
	border-radius:3vw;
	border:1.5vh groove rgb(200,150,200);
    animation:exp 3s;
}
#myname
{
	font-family:seg;
	font-size:9vh;
}
h1
{
	font-size:6.5vh;
	font-family:cob;
}
@keyframes ann
{
	from
	{
		color:rgba(255,255,255,0);
	}
	to
	{
		color:rgba(255,255,255,1);
	}
}
#about
{
	color:white;
	font-size:4.5vh;
	font-family:com;
	animation:ann 5s;
}
#interest
{
	font-size:4.5vh;
	color:white;
	font-family:com;
	animation:ann 5s;
}
@keyframes con
{
	from
	{
		color:rgba(0,0,0,0);
	}
	to
	{
		color:rgba(0,0,0,1);
	}
}
#contact
{
	font-family:com;
	font-size:3.2vh;
	background-color:white;
	width:80vw;
	max-width:500px;
	border:0.5vw double rgb(0,150,150);
	margin:auto;
	animation:con 5s;
}
.icon
{
	width:3.5vh;
}